!!!
%html{style: "font-size: 16px;", lang: "ru"}
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}/
    %meta{charset: "utf-8"}/
    %meta{name: "keywords", content: ""}/
    %meta{name: "description", content: ""}/
    %title Главная
    %link{rel: "stylesheet", href: "styles/nicepage.css", media: "screen"}/
    %link{rel: "stylesheet", href: "styles/Главная.css", media: "screen"}/
    %script.u-script{type: "text/javascript", src: "scripts/jquery.js", defer: "defer"}
    %script.u-script{type: "text/javascript", src: "scripts/nicepage.js", defer: "defer"}
    %meta{name: "generator", content: "Nicepage 5.7.9, nicepage.com"}/
    %link#u-theme-google-font{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"}/
    %script{type: "application/ld+json"}
      :cdata
        {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "logo": "images/default-logo.png"
        }
    %meta{name: "theme-color", content: "#478ac9"}/
    %meta{property: "og:title", content: "Главная"}/
    %meta{property: "og:type", content: "website"}/
    %meta{"data-intl-tel-input-cdn-path": "intlTelInput/"}/
  %body.u-body.u-xl-mode{"data-home-page-title": "Главная", "data-lang": "ru"}
    %header#sec-addc.u-clearfix.u-header.u-header
      .u-clearfix.u-sheet.u-valign-middle.u-sheet-1
        %a.u-image.u-logo.u-image-1{href: "index.html"}
          %img.u-logo-image.u-logo-image-1{src: "images/default-logo.png"}/
        %nav.u-menu.u-menu-dropdown.u-offcanvas.u-menu-1
          .menu-collapse{style: "font-size: 1rem; letter-spacing: 0px;"}
            %a.u-button-style.u-custom-left-right-menu-spacing.u-custom-padding-bottom.u-custom-top-bottom-menu-spacing.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base{href: "#"}
              %svg.u-svg-link{viewbox: "0 0 24 24"}
                %use{"xlink:href": "#menu-hamburger", "xmlns:xlink": "http://www.w3.org/1999/xlink"}
              %svg#menu-hamburger.u-svg-content{version: "1.1", viewbox: "0 0 16 16", x: "0px", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink": "http://www.w3.org/1999/xlink", y: "0px"}
                %g
                  %rect{y: "1", width: "16", height: "2"}
                  %rect{y: "7", width: "16", height: "2"}
                  %rect{y: "13", width: "16", height: "2"}
          .u-nav-container
            %ul.u-nav.u-unstyled.u-nav-1
              %li.u-nav-item
                %a.u-button-style.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base{href: "index.html", style: "padding: 10px 20px;"} Главная
              %li.u-nav-item
                %a.u-button-style.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base{href: "index.html", style: "padding: 10px 20px;"} О нас
              %li.u-nav-item
                %a.u-button-style.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base{href: "index.html", style: "padding: 10px 20px;"} Контакты
          .u-nav-container-collapse
            .u-black.u-container-style.u-inner-container-layout.u-opacity.u-opacity-95.u-sidenav
              .u-inner-container-layout.u-sidenav-overflow
                .u-menu-close
                %ul.u-align-center.u-nav.u-popupmenu-items.u-unstyled.u-nav-2
                  %li.u-nav-item
                    %a.u-button-style.u-nav-link{href: "index.html"} Главная
                  %li.u-nav-item
                    %a.u-button-style.u-nav-link{href: "index.html"} О нас
                  %li.u-nav-item
                    %a.u-button-style.u-nav-link{href: "index.html"} Контакты
            .u-black.u-menu-overlay.u-opacity.u-opacity-70
    %section#carousel_bfe0.u-align-left.u-clearfix.u-image.u-section-1{"data-image-height": "980", "data-image-width": "1920"}
      .u-clearfix.u-sheet.u-sheet-1
        .u-list.u-list-1
          .u-repeater.u-repeater-1
            .u-container-style.u-list-item.u-palette-5-dark-3.u-repeater-item.u-shape-rectangle.u-list-item-1
              .u-container-layout.u-similar-container.u-valign-top.u-container-layout-2
                %span.u-custom-item.u-file-icon.u-icon.u-icon-1{"data-animation-delay": "0", "data-animation-direction": "", "data-animation-duration": "0", "data-animation-name": ""}
                  %img{alt: "", src: "images/3014502.png"}/
                %h4.u-custom-font.u-heading-font.u-text.u-text-1 Bread
                %p.u-text.u-text-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.
                %a.u-active-none.u-border-2.u-border-no-left.u-border-no-right.u-border-no-top.u-border-white.u-btn.u-button-style.u-hover-none.u-none.u-text-body-alt-color.u-btn-1{"data-animation-delay": "0", "data-animation-direction": "", "data-animation-duration": "0", "data-animation-name": "", href: "index.html"} learn more
            .u-container-style.u-list-item.u-palette-5-dark-3.u-repeater-item.u-shape-rectangle.u-list-item-2
              .u-container-layout.u-similar-container.u-valign-top.u-container-layout-2
                %span.u-custom-item.u-file-icon.u-icon.u-icon-2{"data-animation-delay": "0", "data-animation-direction": "", "data-animation-duration": "0", "data-animation-name": ""}
                  %img{alt: "", src: "images/4293088.png"}/
                %h4.u-custom-font.u-heading-font.u-text.u-text-3 Pastries
                %p.u-text.u-text-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.
                %a.u-active-none.u-border-2.u-border-no-left.u-border-no-right.u-border-no-top.u-border-white.u-btn.u-button-style.u-hover-none.u-none.u-text-body-alt-color.u-btn-2{href: "index.html"} learn more
            .u-container-style.u-list-item.u-palette-5-dark-3.u-repeater-item.u-shape-rectangle.u-list-item-3
              .u-container-layout.u-similar-container.u-valign-top.u-container-layout-3
                %span.u-custom-item.u-file-icon.u-icon.u-icon-3{"data-animation-delay": "0", "data-animation-direction": "", "data-animation-duration": "0", "data-animation-name": ""}
                  %img{alt: "", src: "images/4127517.png"}/
                %h4.u-custom-font.u-heading-font.u-text.u-text-5 Cakes
                %p.u-text.u-text-6 Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.
                %a.u-active-none.u-border-2.u-border-no-left.u-border-no-right.u-border-no-top.u-border-white.u-btn.u-button-style.u-hover-none.u-none.u-text-body-alt-color.u-btn-3{href: "index.html"} learn more
            .u-container-style.u-list-item.u-palette-5-dark-3.u-repeater-item.u-shape-rectangle.u-list-item-4
              .u-container-layout.u-similar-container.u-valign-top.u-container-layout-4
                %span.u-custom-item.u-file-icon.u-icon.u-icon-4
                  %img{alt: "", src: "images/1047711.png"}/
                %h4.u-custom-font.u-heading-font.u-text.u-text-7 Cookies
                %p.u-text.u-text-8 Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.
                %a.u-active-none.u-border-2.u-border-no-left.u-border-no-right.u-border-no-top.u-border-white.u-btn.u-btn-rectangle.u-button-style.u-hover-none.u-none.u-text-body-alt-color.u-btn-4{href: "index.html"} learn more
        %p.u-text.u-text-body-alt-color.u-text-9
          Image from 
          %a.u-border-1.u-border-no-left.u-border-no-right.u-border-no-top.u-border-white.u-btn.u-button-link.u-button-style.u-none.u-text-body-alt-color.u-btn-5{href: "https://www.freepik.com", target: "_blank"} Freepik
    %footer#sec-32aa.u-align-center.u-clearfix.u-footer.u-grey-80.u-footer
      .u-clearfix.u-sheet.u-sheet-1
        %p.u-small-text.u-text.u-text-variant.u-text-1 Пример текста. Кликните, чтобы выбрать элемент "Текст".
    %section.u-backlink.u-clearfix.u-grey-80
      %a.u-link{href: "https://nicepage.com/website-templates", target: "_blank"}
        %span Website Templates
      %p.u-text
        %span created with
      %a.u-link{href: "", target: "_blank"}
        %span Website Builder Software